
<%= turbo_frame_tag 'new_message', target: '_top' do %>
  <%= form_with(model: [ @message.room, @message ], remote: true) do |form| %>

    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit 'Send', id: 'submit' %>
    </div>

  <% end %>
<% end %>

<%= link_to 'Back', @message.room %>