<div id="user-id" data-user-id="<%= current_user.id  %>"></div>
<div id="room-id" data-room-id="<%= @room.try(:id)  %>"></div>
<h1>
  <%= @room.name %>
</h1>

<div>
  <%= render @room.messages %>
</div>

<%= turbo_frame_tag 'new_message', src: new_room_message_path(@room), target:'_top' %>


<%= link_to 'back', root_path %>